<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<form th:action="@{/api/auth/signin}" method="post">
    <table border="1">

        <tr>
            <td>Login</td>
            <td><input type="text" th:field="*{authDTO.login}"></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="text" th:field="*{authDTO.password}"></td>
        </tr>

    </table>
    <button type="submit">Authenticate</button>
</form>
</body>
</html>